.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    flex: 1 1 300px;
    min-width: 250px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(101%);
    box-shadow: 0 8px 16px rgba(red, green, blue, 0.2);
}

.image {
    height: 300px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
}

.card-button {
    border: none;
    outline: none;
    cursor: pointer;

    display: block;
    width: 100%;
    background-color: #00FF7F;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #3CB371;
}

.card-button:active {
    background-color: #003d80;
    transform: translateY(1px); /* Небольшой сдвиг для эффекта нажатия */
}