body {
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	margin: 0;
	padding: 0;
	justify-content: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	width: 100%;
	padding-top: 20px;
}

.menu {
	padding: 0 20px;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.details {
	flex-grow: 1;
	padding-right: 20px;
}

.name {
	color: var(--tg-theme-text-color);
	font-size: 1.1em;
	font-weight: 500;
	margin: 0 0 5px 0;
	color: #333;
}

.description {
	font-size: 0.9em;
	color: #666;
	margin: 0 0 5px 0;
}

.price {
	font-size: 1em;
	font-weight: 750;
	color: #4CAF50;
	margin: 0;
}

.quantity {
	display: flex;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 20px;
	overflow: hidden;
	background-color: #f7f7f7;
}

.btn {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1.2em;
    font-weight: 400;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.count {
	padding: 0 15px;
	font-size: 1em;
	font-weight: 500;
	color: #333
}

.btn:hover {
	background-color: #eee;
}

.total {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.total-summary {
	border-radius: 5px;
	padding: 5px;
	background-color: var(--tg-theme-bg-color);
	box-shadow: 0px 5px 15px rgba(red, green, blue, 0.3);
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #333;
	font-size: 14px;
}

input[type="text"],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 15px;
}
textarea {
	resize: vertical;
	min-width: 80px;
}

.toForm {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.toForm:hover:not([disabled]) {
    background-color: #0056b3;
}

.toForm:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.customerForm {
	display: none;
}