body {
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    margin: 0;
    padding: 0;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
}

.menu {
    padding: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.name {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.description {
    font-size: 0.9em;
    color: #666;
    margin: 0 0 5px 0;
}

.price {
    font-size: 1em;
    font-weight: 750;
    color: #4CAF50;
}

.quantity {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f7f7f7;
}

.btn {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1.2em;
    font-weight: 400;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.btn:hover {
    background-color: #eee;
}

.count {
    padding: 0 15px;
    font-size: 1em;
    font-weight: 500;
    color: #333;
}

.total {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 25px;
}

.toForm {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.toForm:hover:not([disabled]) {
    background-color: #0056b3;
}

.toForm:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.customerForm {
    text-align: center;
    transform: translate(0, 50%);
}

label {
    display: block;
    padding-top: 10px;
    margin-bottom: 5px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-width: 100px;
}

.oplata {
    width: 100%;
}

select {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 15px;
}

.checkout-btn {
    padding: 15px;
    margin: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}